body {
  font-family: roboto;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}
body{
    background-color: #0b192f;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99%;
}
.header{
    background-color: #024161;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sandwich{
    background-color: #024161;
    height: 30px;
    width: 30px;
    padding: 1px;
}
.sandwich-white-stripe{
    width: 100%;
    height: calc(100%/7);
    background-color: #fff;
    margin-top: calc(100%/7);
    border-radius: 20%;
}
h2{
    color: #fff;
    font-weight: lighter;
}
.navigation-header>h2>span{
    color: deeppink;
}
.hero{
    position: relative;
    text-align: left;
    width: 100%;
}
img{
    width: 100%;
}
.hero-text{
    position: absolute;
    bottom: 0;
    color: #fff;
    margin: 0 12%;
}
.post{
    margin: 0 0 0 5%;
    color: #fff;
    position: relative;
}
article>div>.date{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 1%;
}
.date>p{
    margin: 0;
    font-weight: lighter;
}
.post>p{
    padding-right: 4.5%;
    font-size: 0.7em;
    margin-bottom: 0;
}
.articles{
    display: flex;
    flex-direction: column-reverse;
}
article:nth-of-type(1)>div>.date{
    top: unset;
    bottom: 0;
    right: unset;
    left: 38%;
}
article:nth-of-type(1) > div > p{
    padding-bottom: 3em;
}
.news{
    color: black;
}
aside>article{
    background-color: #fff;
}
.news>h2{
    color: black;
}
aside>article>div.news>p{
    padding-bottom: 3%;
}
footer{
    background-color: #024161;
    width: 100%;
}
footer p{
    color: #fff;
    font-weight: lighter;
    text-align: center;
    margin: 1em 1em;
}
.nav{
    color: #fff;
    font-weight: lighter;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.nav>li{
    padding: 8% 0 8% 0;
    margin: 0 10% 0 0;
}
li:hover {
    color: #1f52a4;
    background-color: lightskyblue;
}
a{
    text-decoration: none;
    color: #fff;
}
.navigation-header>h2>a>span{
    color: deeppink;
}
@media screen and (max-width: 480px) {
    .main-content{
        display: flex;
        flex-direction: column;
    }
    .nav{
        display: none;
    }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
    .main-content{
        display: flex;
        flex-direction: row;
    }
    .articles{
        width: 70%;
    }
    .right-column{
        width: 30%;
    }
    .nav{
        display: none;
    }
    .wrapper{
        width: 99%;
    }
}
@media screen and (min-width: 769px) and (max-width: 1400px) {
    .sandwich{
        display: none;
    }
    .navigation{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        margin-right: 10%;
    }
    .main-content{
        display: flex;
        flex-direction: row;
    }
    .articles{
        width: 70%;
    }
    .right-column{
        width: 30%;
    }
    .navigation-header{
        margin-left: 10%;
    }
    .left-column{
        display: flex;
        flex-direction: row;
    }
    .left-column:nth-of-type(even){
        display: flex;
        flex-direction: row-reverse;
    }
    .left-column>.post{
        margin-left: 7%;
    }
    .post>h2{
        margin-bottom: 0;
    }
    footer{
        display: flex;
        justify-content: space-between;
        background-color: #024161;
    }
    footer p {
        text-align: left;
    }
    article:nth-of-type(even)>div>.date{
        top: 0;
        bottom: unset;
        right: unset;
        left: -15%;
    }
    article.post-5.left-column > div > div{
        top: 0;
        bottom: unset;
        right: 0;
        left: unset;
    }
    article:nth-of-type(even){
        text-align: right;
    }
    .wrapper{
        max-width: 1400px;
    }
    a{
        text-decoration: none;
        color: #fff;
    }
    .navigation-header>h2>a>span{
        color: deeppink;
    }
    .navigation-header>h2>a>span{
        color: deeppink;
    }
    a:hover{
        color: #1f52a4;
    }
    a>img:hover{
        opacity: 50%;
    }
    ul{
        margin: 0 10%;
    }
}