body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-color: $main-bg;
  z-index: 0;
  .header {
    height: 719px;
    background: $header-background;
    background-size: 100%;
    border-radius: 0 0 778px/282px 0;
    width: 1920px;
    .header-wrap {
      margin: 21px 193px;
      .header_heading {
        margin-top: 74px;
        margin-bottom: 36px;
        line-height: 72px;
        font-size: 72px;
        width: 504px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bolder;
        position: relative;
        color: $text-color;
      }
      .header_heading:before {
        content: 'awesome';
        position: absolute;
        top: 83px;
        line-height: 0.7;
        background-color: $highlight;
        color: $text-color;
      }
      .header_text {
        font-family: 'Hind', sans-serif;
        word-spacing: 1.05px;
        line-height: 24px;
        white-space: pre-line;
        margin: 0;
        color: $text-color;
      }
      div {
        button.header_button {
          @include buttons;
          @include footer-button-pos;
        }
        a.login {
          margin-left: 150px;
          font-size: 19px;
          @include linx-style;
        }
      }
    }
  }
  main.section {
    display: flex;
    flex-direction: column;
    width: 1114px;
    margin: 0 402px 0 402px;
    position: relative;
    p.section_text {
      text-align: center;
      margin: 39px auto 38px auto;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bolder;
      font-size: 41px;
      position: relative;
      color: $text-color;
    }
    p.section_text:before {
      content: 'adventure';
      background-color: $highlight;
      position: absolute;
      left: 219px;
    }
    .section_card_wrap {
      .section_card {
        display: flex;
        flex-direction: row;
        border-radius: 6px;
        background-color: $section-card-bg;
        color: white;
        margin-bottom: 25px;
        height: 325px;
        .section_card_img {
          margin: 19px;
          width: 431px;
          display: block;
          border-radius: 6px;
        }
        .section_card_right_container {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 494px;
          margin-left: 61px;
          .section_card_heading {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 26px;
            margin-left: -83px;
            margin-top: 67px;
          }
          .section_card_text {
            margin-left: 10px;
            margin-top: 13px;
            font-family: 'Hind', sans-serif;
          }
          .section_link {
            @include linx-style;
          }
        }
      }
    }
    .section_banner {
      background: $section-banner-bg;
      border-radius: 5px;
      width: 1198px;
      height: 143px;
      margin-left: -41px;
      margin-top: 125px;
      display: flex;
      flex-direction: row;
      z-index: 99;
      .section_banner_text_wrap {
        margin-left: 161px;
        .section_banner_heading {
          margin-top: 12px;
          padding-top: 12px;
          font-weight: bold;
          font-size: 30px;
          font-family: 'Source Sans Pro', sans-serif;
          position: relative;
          color: $text-color;
        }
        .section_banner_heading:before {
          content: "start";
          line-height: 1.2em;
          position: absolute;
          top: 12px;
          left: 122px;
          background-color: $highlight;
        }
        .section_banner_text {
          font-family: 'Hind', sans-serif;
          color: white;
          margin-top: -14px;
        }
      }
      .section_banner_button {
        @include buttons;
        @include header-button-pos;
      }
    }
  }
  main.section:after {
    position: absolute;
    content: '';
    width: 1920px;
    height: 74px;
    background-color: $section-card-bg;
    bottom: 0;
    left: -402px;
    z-index: 98;
  }
  .footer {
    width: 1920px;
    .footer-wrap {
      display: flex;
      flex-direction: row;
      background-color: $section-card-bg;
      div.footer_logo.landing-logo {
        margin-left: 193px;
        margin-top: 64px;
        @extend .landing-logo;
      }
      .footer_text {
        color: white;
        font-family: 'Hind', sans-serif;
        font-size: 14px;
        width: 291px;
        margin-top: 56px;
        margin-left: 439px;
        line-height: 20px;
        padding-bottom: 58px;
      }
      .footer-cr {
        color: white;
        font-family: 'Hind', sans-serif;
        font-size: 16px;
        margin-left: 470px;
        margin-top: 71px;
      }
    }
  }
}
.landing-logo {
  display: flex;
  flex-direction: row;
  color: $text-color;
  img {
    width: 43px;
    height: 43px;
  }
  p {
    @include paragraph;
  }
}
