body {
  margin: 0;
  min-width: 900px; }

.wrapper {
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .wrapper .main-header {
    width: 100%;
    height: 8.7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: #FFFFFF; }
    .wrapper .main-header .name {
      width: 50%;
      text-align: center; }
      .wrapper .main-header .name .site-name {
        text-transform: uppercase;
        font-size: 21px;
        letter-spacing: 2px;
        word-spacing: -2px;
        margin-left: -33px;
        font-weight: bold; }
    .wrapper .main-header .main-nav {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .wrapper .main-header .main-nav ul {
        display: flex;
        flex-direction: row;
        list-style: none; }
        .wrapper .main-header .main-nav ul li {
          padding-right: 45px;
          letter-spacing: 1px;
          font-size: 20px; }
  .wrapper .hero {
    width: 100%;
    margin-top: 8.7vh;
    height: 91.3vh;
    background: center url("../img/home-bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .wrapper .hero h1 {
      color: #FFFFFF;
      font-size: 3.6em;
      margin: 0 auto; }
    .wrapper .hero p {
      color: #bfba55;
      margin-bottom: 4.1em; }
    .wrapper .hero .hero-btn {
      width: 157px;
      height: 45px;
      border-radius: 23px;
      font-weight: bold;
      font-size: 13px;
      border: 0.5px solid #777;
      background-color: #FFFFFF;
      color: #777; }
  .wrapper .main-section {
    width: 945px; }
    .wrapper .main-section .articles {
      margin-top: 32px; }
      .wrapper .main-section .articles .img-container img {
        width: 945px; }
      .wrapper .main-section .articles .main-section-headers {
        margin-top: 33px; }
      .wrapper .main-section .articles .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: -10px;
        margin-left: 1px; }
        .wrapper .main-section .articles .author .author-img img {
          vertical-align: middle;
          height: 40px;
          border-radius: 50%; }
        .wrapper .main-section .articles .author .author-name {
          margin-left: 5px;
          color: #777; }
        .wrapper .main-section .articles .author .date {
          margin-left: 16px;
          color: #777; }
        .wrapper .main-section .articles .author .comments {
          margin-left: 29px;
          color: #777; }
      .wrapper .main-section .articles p {
        font-size: 17px;
        line-height: 27px;
        color: #777; }
      .wrapper .main-section .articles .cont-rdng {
        width: 157px;
        height: 45px;
        border-radius: 23px;
        font-weight: bold;
        font-size: 13px;
        border: 0.5px solid #777;
        background-color: #FFFFFF;
        color: #777;
        width: 190px;
        margin-top: 20px;
        color: #777; }

.author p {
  font-size: 17px;
  margin: 0 auto;
  color: #777; }

.ftr {
  margin-top: 115px;
  height: 360px;
  background-color: #000;
  width: 100%;
  display: flex;
  justify-content: center; }
  .ftr .ftr-container {
    color: #777;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    justify-content: space-between;
    padding-top: 80px;
    line-height: 25px; }
    .ftr .ftr-container h2 {
      color: #FFFFFF; }
    .ftr .ftr-container .epam-lab {
      width: 50%; }

a {
  text-decoration: none;
  color: #777; }

a:hover {
  color: #C7C486; }

button:hover {
  text-transform: uppercase;
  color: #C7C486; }

article {
  width: 900px; }

hr {
  width: 900px;
  margin: 50px auto;
  color: #777; }

/*# sourceMappingURL=style.css.map */
